html, body {
    font-family: sans-serif;
    background-color: #333;
    color: #ccc;
}

h2 {
    font-size: 26px;
    color: #458688;
}

hr {
    margin-top: 40px;
    margin-bottom: 30px;
    opacity: 0.2;
}

div {
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: row;
}

.red {
    background-color: #e74c3c;
}

.blue {
    background-color: #3498d8;
}

.green {
    background-color: #1abc98;
}

.yellow {
    background-color: #f1c401;
}