/* Todas as demais mídias */

/* TYPICAL DEVIDE BREAKPOINTS
-------------------------------
    Pequenas telas: de 320px até 480px;
    Celular: de 481px até 768px;
    Tablet: de 769px até 1024px;
    Notebook: de 1024px até 1200px;
    Grandes telas: acima de 1200px;
*/

@media print { /* IMPRESSÃO */
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /* DESNECESSÃRIO POIS A IMPRESSORA NÃO IMPRIME BACKGROUND */
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    #phone { display: none;}
    #tablet { display: none;}
    #print { display: block;}
    #pc { display: none;}
    #tv { display: none;}

}

@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        background-image: url(../imagens/back-phone.jpg);
    }

    #phone { display: block;}
    #tablet { display: none;}
    #print { display: none;}
    #pc { display: none;}
    #tv { display: none;}

}

@media screen and (min-width: 481px) and (max-width: 1024px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone { display: none;}
    #tablet { display: block;}
    #print { display: none;}
    #pc { display: none;}
    #tv { display: none;}

}

@media screen and (min-width: 1024px) and (max-width: 1600px) { /* DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone { display: none;}
    #tablet { display: none;}
    #print { display: none;}
    #pc { display: block;}
    #tv { display: none;}
}

@media screen and (min-width: 1601px) { /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone { display: none;}
    #tablet { display: none;}
    #print { display: none;}
    #pc { display: none;}
    #tv { display: block;}

}
